# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/windows,visualstudiocode
# Edit at https://www.gitignore.io/?templates=windows,visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

obj/Dotz.csproj.nuget.cache
obj/Dotz.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Debug/netcoreapp3.1/Dotz.csproj.CopyComplete
obj/Debug/netcoreapp3.1/Dotz.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Dotz.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Dotz.dll
obj/Debug/netcoreapp3.1/Dotz.exe
obj/Debug/netcoreapp3.1/Dotz.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/Dotz.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/netcoreapp3.1/Dotz.pdb
obj/Debug/netcoreapp3.1/Dotz.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/staticwebassets/Dotz.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/Dotz.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/Dotz.deps.json
bin/Debug/netcoreapp3.1/Dotz.dll
bin/Debug/netcoreapp3.1/Dotz.exe
bin/Debug/netcoreapp3.1/Dotz.pdb
bin/Debug/netcoreapp3.1/Dotz.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Dotz.runtimeconfig.json
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Versioning.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
bin/Debug/netcoreapp3.1/Microsoft.Web.Infrastructure.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/netcoreapp3.1/Swashbuckle.Core.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/System.Net.Http.Formatting.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.Pkcs.dll
bin/Debug/netcoreapp3.1/System.Web.Http.dll
bin/Debug/netcoreapp3.1/System.Web.Http.WebHost.dll
bin/Debug/netcoreapp3.1/WebActivatorEx.dll
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Cryptography.Pkcs.dll
obj/Dotz.csproj.nuget.cache
obj/Dotz.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Debug/netcoreapp3.1/Dotz.csprojAssemblyReference.cache
obj/Dotz.csproj.nuget.cache
obj/Dotz.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Debug/netcoreapp3.1/Dotz.assets.cache
obj/Debug/netcoreapp3.1/Dotz.csprojAssemblyReference.cache
